.herosect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #c1e4fe;
    height: 90vh;
    width: 100%;
    // margin: 2% 7%;
    .herotext {
        display: flex;
        flex-direction: row;
        h1 {
            font-size: 2.1rem;
            color: #373d3f;
            margin-bottom: 0;
            flex-basis: 50%;
        }
        .herodesc {
            margin-top: 0;
            width: 55%;
            font-size: 30px;
            font-family: Lato;
            font-weight: 200;
            transform: translate(200px,70px);
            .plusdesc{
                width: 90%;
            }
            .letter{
                color:#310c86;
            }
            .remletters{
                color:#008e00;
            }
            .herojoin{
                display: flex;
                flex-direction: row;
                font-size: 20px;
                margin-top: 2%;
                margin-left: 10%;
                .hero-logos{
                    display: flex;
                    flex-direction: row;
                    .hero-links{
                        margin: 5% 5% 0% 5% !important;
                    }
                    .logo-hero{
                        max-width: 100%;
                        max-height: 100%;
                        height: auto;
                        width: 100px;
                    }
                    .telegram-logo {
                        margin-left: -15px;
                    }
                }
            }
                
        }
        .herosun{
            border-radius: 50%;
            background-color: orange;
            background-image: radial-gradient(#efcd00,#f27d00);

            /* Firefox 3.6+ */
            background-image: -moz-linear-gradient(#efcd00,#f27d00);
          
            /* Safari 4+, Chrome 1+ */
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efcd00), to(#f27d00));
          
            /* Safari 5.1+, Chrome 10+ */
            background-image: -webkit-linear-gradient(#efcd00,#f27d00);
          
            /* Opera 11.10+ */
            background-image: -o-linear-gradient(#efcd00,#f27d00);
            height: 130px;
            width: 130px;
            display: block;
            transform: translate(200px,100px);
        }
        .buttons {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .btn {
                
                box-sizing: border-box;
                margin: 20px;
                padding: 15px 20px;
                text-decoration: none;
                border-radius: 35px;
            }
            .btn-active {
                background: linear-gradient(45deg, #2980b9, #3498db);
                color: #fff;
				transition: 0.5s all linear;
				border: 1px solid #fff;
                &:hover {
                    background: linear-gradient(45deg, #fff, #fff);
                    // border: 1px solid #2980b9;
					color: #373d3f;
					border: 1px solid #2980b9;
                }
            }
            .btn-ghost {
                background-color: #fff;
                padding: 15px 50px;
                color: #373d3f;
				transition: 0.5s all linear;
				border: 1px solid #2980b9;
                &:hover {
                    background: linear-gradient(45deg, #2980b9, #3498db);
                    color: #fff;
                }
            }
        }
    }

    .heroimage {
        max-width: 100%;
        max-height: 100%;
        width: 90vw;
        height: auto;
    }
    .heromountain {
        max-width: 100%;
        width: 100vw;
        height: auto;
        margin-top: 8%;
        margin-bottom: 0%;
        padding: 0%;
        svg{
            margin-bottom: -4px;
        }
    }
}

@media screen and (max-width: 768px) {
    .herosect {
        flex-wrap: wrap;
        .heroimage {
            margin-top: 20px;
        }
        .herotext {
            display: flex;
            flex-direction: column;
            margin-top: 70px;
            h1 {
                font-weight: 100;
            }
            .herodesc {
                width: 90%;
                transform: translate(10px,50px);
                .plusdesc{
                    width: 90%;
                    margin: 10%;
                }
                .herojoin{
                    width: 100%;
                    margin: 5%;
                    flex-direction: column;
                    align-items: center;
                    .hero-logos{
                        flex-direction: column;
                        .logo-hero{
                            margin: 2px;
                            max-width: 100%;
                            max-height: 100%;
                            height: auto;
                            width: 100px;
                        }
                        .telegram-logo{
                            margin-left: 0;
                        }
                    }
                }
                
            }
            .buttons {
                .btn {
                    margin: 10px 20px;
                }
            }
            .herosun{
                height: 80px;
                width: 80px;
                transform: translate(250px,90px);
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .herosect {
        flex-wrap: wrap;
        height: 100%;
        .heroimage {
            margin-top: 20px;
        }
        .herotext {
            display: flex;
            flex-direction: column;
            transform: translateY(-100px);
            h1 {
                font-weight: 100;
            }
            .herodesc {
                width: 90%;
                transform: translate(10px,50px);
                .plusdesc{
                    width: 90%;
                    margin: 10%;
                }
                .herojoin{
                    width: 100%;
                    margin: 5%;
                    margin-left: 10px;
                }
                
            }
            .buttons {
                .btn {
                    margin: 10px 20px;
                }
            }
            .herosun{
                height: 80px;
                width: 80px;
                transform: translate(250px,90px);
            }
        }
        .heromountain{
            // transform: translate(-375px,485px);
        }
    }
}
@media screen and (max-width: 366px) {
    .herosect{

        .herotext{
            margin-top: 70px;
            .herodesc{
                font-size: 20px;
                .herojoin{
                    display: flex;
                    flex-direction: column;
                    font-size: 15px;
                    .herologos{
                        // display: flex;
                        // flex-direction: column;
                        // justify-content: space-around;
                        // align-items: center;
                    }
                }
            }
            .herosun{
                transform: translate(200px,100px);
            }
        }
        .heromountain{
            transform: translate(0px,-2px);
        }
    }

}
